// Import the 'sass:map' module to use the map-related functions and features.
@use "sass:map";

// Function to calculate font size based on a given size and breakpoint.
@function fontSize($size, $breakpoint) {
  $baseSize: 1; // 1rem is equivalent to 16px in most browsers

  // Normalize the breakpoint value to a factor (e.g., if it's 1000px, it's converted to 1).
  $incrementFactor: calc(map.get($breakpoints, $breakpoint) / 1000);
  $newSize: $size + $baseSize * $incrementFactor;
  @return $newSize;
}
