@mixin imageWrapperStyle($color) {
  padding: 1rem;
  background-color: ($color);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "No se encuentra el breakpoint con el nombre '#{$breakpoint}'";
  }
}
