.footer {
  padding: 1rem 0;
  text-align: center;
  background-color: $veryDarkOrange;

  &__container {
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto;

    .footer__text {
      font-size: fontSize(1rem, mobile);

      @include respond-to(desktop) {
        font-size: fontSize(1.5rem, desktop);
      }
      color: $white;
      letter-spacing: 0.05em;
    }
  }
}
