// Main Styles
.main-content {
  width: 90%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 0 auto;
}

// History Styles
.history {
  margin-bottom: 6rem;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    @include respond-to(desktop) {
      flex-direction: row;
    }
  }

  &__image-wrapper {
    width: 100%;
    max-width: 40rem;

    @include respond-to(desktop) {
      max-width: 50%;
    }

    .history__image {
      display: block;
      // width: 80%;
      margin: 0 auto;
      border-radius: 0.5rem;
    }

    .history__caption {
      font-size: 1.2rem;
      text-align: center;
    }
  }

  &__text-content {
    width: 100%;
    max-width: 40rem;
    text-align: justify;

    @include respond-to(desktop) {
      max-width: 50%;
    }

    .history__paragraph {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.2;
    }
  }
}

// Recipes Styles
// .recipes {
//   margin-bottom: 6rem;
//   &__container {
//     width: 100%;
//     max-width: 40rem;
//     margin: 0 auto;
//     font-size: 1.6rem;
//     font-weight: 300;

//     @include respond-to(desktop) {
//       max-width: 100%;
//     }
//   }

//   &__title-wraper {
//     @include imageWrapperStyle($lightGrayishCyan);
//   }

//   &__title {
//     font-size: 3rem;
//     color: $veryDarkBlue;
//   }

//   &__wrapper {
//     list-style: none;
//     padding: 0;

//     @include respond-to(desktop) {
//       display: flex;
//     }

//     .recipes__item {
//       margin-top: 2rem;
//     }
//   }

//   .recipes__item {
//     padding-bottom: 2rem;
//     border-bottom: 0.1rem dashed $veryDarkOrange;

//     @include respond-to(desktop) {
//       padding-right: 2rem;
//       padding-left: 2rem;
//       border-bottom: none;
//     }
//   }
//   .recipes__image-wrapper {
//     text-align: center;

//     .recipes__caption {
//       font-size: small;
//     }
//   }
// }

.recipes {
  // &__container {
  //   width: 100%;
  //   max-width: 40rem;
  //   margin: 0 auto;
  //   font-size: 1.6rem;
  //   font-weight: 300;

  //   @include respond-to(desktop) {
  //     max-width: 100%;
  //   }
  // }

  // &__title-wraper {
  //   @include imageWrapperStyle($lightGrayishOrange);
  // }

  // &__title {
  //   font-size: 3rem;
  //   color: $veryDarkBlue;
  // }
  font-size: 1.6rem;
  font-weight: 300;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 10rem;
    list-style: none;

    @include respond-to(desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    padding: 1rem;
    background-color: #f4f4f4;

    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    // &:hover {
    //   transform: scale(1.02);
    //   transition: transform 0.3s;
    // }

    &-title {
      margin-top: 1rem;
      text-align: center;
    }
  }

  &__image-wrapper {
    text-align: center;
  }

  &__caption {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }
}

.directions {
  &__item {
    margin-bottom: 1rem;
  }
}

// Advices and tips Styles
.advices-tips {
  margin-bottom: 6rem;
  font-size: 1.6rem;
  font-weight: 300;
  &__container {
    // width: 100%;
    // max-width: 40rem;
    // margin: 0 auto;
    // font-size: 1.6rem;
    // font-weight: 300;

    @include respond-to(desktop) {
      // max-width: 100%;

      .advices-tips__categories-wrapper {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }

  // &__title-wrapper {
  //   @include imageWrapperStyle($lightGrayishOrange);
  // }
}
