// Main Styles
.main-content {
  width: 90%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 0 auto;
}

// History section styles
.history {
  margin-bottom: 6rem;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    @include respond-to(desktop) {
      flex-direction: row;
    }
  }

  &__image-wrapper {
    width: 100%;
    max-width: 40rem;

    @include respond-to(desktop) {
      max-width: 50%;
    }

    .history__image {
      display: block;
      // width: 80%;
      margin: 0 auto;
      border-radius: 0.5rem;
    }

    .history__caption {
      font-size: 1.2rem;
      text-align: center;
    }
  }

  &__text-content {
    width: 100%;
    max-width: 40rem;
    text-align: justify;

    @include respond-to(desktop) {
      max-width: 50%;
    }

    .history__paragraph {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.2;
    }
  }
}

// Recipes section Styles
.recipes {
  font-size: 1.6rem;
  font-weight: 300;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 10rem;
    list-style: none;

    @include respond-to(desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    padding: 1rem;
    background-color: #f4f4f4;

    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &-title {
      margin-top: 1rem;
      text-align: center;
    }
  }

  &__image-wrapper {
    text-align: center;
  }

  &__caption {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }
}

.directions {
  &__item {
    margin-bottom: 1rem;
  }
}

// Advices and tips section styles
.advices-tips {
  margin-bottom: 6rem;
  font-size: 1.6rem;
  font-weight: 300;
  &__container {
    @include respond-to(desktop) {
      .advices-tips__categories-wrapper {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
}
