// Imports and Variables
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;700&display=swap");
@import "./mixins";
@import "./functions";

$lightGrayishCyan: #c6d8da;
$veryDarkBlue: #052d3c;
$lightGrayishOrange: #f3f1f1;
$veryDarkOrange: #592614;
$white: #ffffff;

$fontMain: "Zilla Slab", serif;
// $mobile: 480px;
// $tablet: 768px;
// $desktop: 1024px;
$breakpoints: (
  mobile: 30rem,
  tablet: 48rem,
  desktop: 64rem,
);

// Base Styles
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: $fontMain;
  color: $veryDarkBlue;
  line-height: 1.6;
}

// Header Styles
.header {
  text-align: center;
  background-color: $lightGrayishOrange;
  border-bottom: 4px double $veryDarkOrange;

  &__container {
    max-width: 100%;
    padding: 1rem;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: $fontMain;

    font-size: fontSize(
      3rem,
      mobile
    ); // Uso de la función para el tamaño mobile

    @include respond-to(desktop) {
      font-size: fontSize(
        4rem,
        desktop
      ); // Uso de la función para el tamaño desktop
    }

    font-weight: 700;
    color: $veryDarkOrange;
  }

  &__nav .nav__list {
    display: flex;
    flex-direction: column; // Stacked for mobile
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1.5em;

    .nav__item {
      a {
        display: block;
        padding: 0.5rem 1rem;
        color: $veryDarkBlue;
        font-weight: 700;
        text-decoration: none;

        &:hover {
          // background-color: color.adjust($lightGrayishCyan, $lightness: -10%);
          background-color: darken($lightGrayishCyan, 10%);
        }
      }
    }
  }

  @include respond-to(tablet) {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: initial;
    }

    &__nav .nav__list {
      flex-direction: row;
      gap: 2rem;
      justify-content: center;
    }
  }
}

// Main Styles
.main-content {
  width: 90%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 0 auto;
}

// History Styles
.history {
  margin-bottom: 6rem;
  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;

    @include respond-to(desktop) {
      flex-direction: row;
    }
  }

  &__image-wrapper {
    width: 100%;
    max-width: 40rem;

    @include respond-to(desktop) {
      max-width: 50%;
    }

    .history__image {
      display: block;
      // width: 80%;
      margin: 0 auto;
      border-radius: 0.5rem;
    }

    .history__caption {
      text-align: center;
    }
  }

  &__text-content {
    width: 100%;
    max-width: 40rem;
    text-align: justify;

    @include respond-to(desktop) {
      max-width: 50%;
    }

    .history__title {
      font-size: 3rem;
      color: $veryDarkBlue;
      margin-bottom: 2rem;
    }

    .history__paragraph {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.2;
    }
  }
}

// Recipes Styles
.recipes {
  margin-bottom: 6rem;
  &__container {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 300;

    @include respond-to(desktop) {
      max-width: 100%;
    }
  }

  &__title-wraper {
    @include imageWrapperStyle($lightGrayishCyan);
  }

  &__title {
    font-size: 3rem;
    color: $veryDarkBlue;
  }

  &__wrapper {
    list-style: none;
    padding: 0;

    @include respond-to(desktop) {
      display: flex;
    }

    .recipes__item {
      margin-top: 2rem;
    }
  }

  .recipes__item {
    padding-bottom: 2rem;
    border-bottom: 0.1rem dashed $veryDarkOrange;

    @include respond-to(desktop) {
      padding-right: 2rem;
      padding-left: 2rem;
      border-bottom: none;
    }
  }
  .recipes__image-wrapper {
    text-align: center;

    .recipes__caption {
      font-size: small;
    }
  }
}

// Advices and tips Styles
.advices-tips {
  margin-bottom: 6rem;
  &__container {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 300;

    @include respond-to(desktop) {
      max-width: 100%;

      .advices-tips__categories-wrapper {
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }

  &__title-wrapper {
    @include imageWrapperStyle($lightGrayishOrange);
  }
}

// Footer Styles
.footer {
  background-color: $veryDarkOrange;
  padding: 1rem 0;
  text-align: center;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

    .footer__text {
      color: $white;
      font-size: 1rem;
      letter-spacing: 0.05em;
    }
  }
}
