<header class="header">
    <div class="header__container">
        <h1 class="header__title">Mi rincón panadero</h1>
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#history">Mi História</a>
                </li>
                <li class="nav__item">
                    <a href="#recipes">Recetas</a>
                </li>
                <li class="nav__item">
                    <a href="#advices-tips">Consejos y anécdotas</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
