$lightGrayishCyan: #c6d8da;
$veryDarkBlue: #052d3c;
$lightGrayishOrange: #f3f1f1;
$veryDarkOrange: #592614;
$white: #ffffff;

$fontMain: "Zilla Slab", serif;
$breakpoints: (
  mobile: 30rem,
  tablet: 48rem,
  desktop: 64rem,
);
