@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: $fontMain;
  line-height: 1.6;
  color: $veryDarkBlue;
}
